APScheduler==3.7.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
-e git://github.com/aerkalov/ebooklib.git@c8cb21f31c2769b1ce1052e18df49852f96de1b9#egg=EbookLib
idna==2.7
langdetect==1.0.7
lxml==4.9.1
nltk==3.6.3
pyTelegramBotAPI==3.8.1
pytz==2018.5
requests==2.25.1
six==1.11.0
transliterate==1.10.1
urllib3==1.26.5
gTTS==2.2.3
markdownify==0.9.2
FB2==0.1.7
pyunpack==0.2.2
ebooklib==0.17.1