APScheduler==3.5.3
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
-e git://github.com/aerkalov/ebooklib.git@6a004d4ae3d6da44575a482aa3f605e9484f7b0c#egg=EbookLib
idna==2.7
langdetect==1.0.7
lxml==4.2.4
nltk==3.3
pyTelegramBotAPI==3.6.6
pytz==2018.5
requests==2.7.0
six==1.11.0
transliterate==1.10.1
tzlocal==1.5.1
urllib3==1.24.1